[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "third-party/neovim"]
	path = third-party/neovim
	url = git@github.com:neovim/neovim.git
