! Reload the file using xrdb .Xresources
!*.alpha: 255
! Harper
!
!*.foreground:  #a8a49d
!*.background:  #010101
!*.cursorColor: #a8a49d
!!
!! Black
!*.color0:      #010101
!*.color8:      #726e6a
!!
!! Red
!*.color1:      #f8b63f
!*.color9:      #f8b63f
!!
!! Green
!*.color2:      #7fb5e1
!*.color10:     #7fb5e1
!!
!! Yellow
!*.color3:      #d6da25
!*.color11:     #d6da25
!!
!! Blue
!*.color4:      #489e48
!*.color12:     #489e48
!!
!! Magenta
!*.color5:      #b296c6
!*.color13:     #b296c6
!!
!! Cyan
!*.color6:      #f5bfd7
!*.color14:     #f5bfd7
!!
!! White
!*.color7:      #a8a49d
!*.color15:     #fefbea
!!
!! Bold, Italic, Underline
!*.colorBD:     #a8a49d
!*.colorIT:
!*.colorUL:
!!!!!!!!!!!!!!!!!!!!!!
! Glacier
*.foreground:  #ffffff
*.background:  #0c1115
*.cursorColor: #ffffff
!
! Black
*.color0:      #2e343c
*.color8:      #404a55
!
! Red
*.color1:      #bd0f2f
*.color9:      #bd0f2f
!
! Green
*.color2:      #35a770
*.color10:     #49e998
!
! Yellow
*.color3:      #fb9435
*.color11:     #fddf6e
!
! Blue
*.color4:      #1f5872
*.color12:     #2a8bc1
!
! Magenta
*.color5:      #bd2523
*.color13:     #ea4727
!
! Cyan
*.color6:      #778397
*.color14:     #a0b6d3
!
! White
*.color7:      #ffffff
*.color15:     #ffffff
!
! Bold, Italic, Underline
*.colorBD:     #ffffff
!*.colorIT:
!*.colorUL:
